section {
	display:none;
}

section.active, section.active > section{
	display:block;
}
/*-------------------*/
/*--Start real CSS---*/
/*-------------------*/

/*Navigatie*/
body {
  margin:0;
  background-color: #6B91A1;
}

nav {
  display: flex;
  background-color: #333;
  flex-flow: column;
}

ul {
  display: flex;
  padding:0;
  margin:0;
}

li {
  padding:20px;
  list-style: none;
  flex-grow:1;
  text-align:center;
}

li > a {
  padding:20px;
  color: #aaa;
  font-family: helvetica;
  font-size: 18px;
  text-decoration: none;
}

/*touchmenu (doubletap)*/

#genreMenu {
  flex-flow: row;
  background-color:black;

  height:0;
  opacity:0;
  transition: height 0.5s ease-in, opacity 0.2s ease-in;
}

#genreMenu.active {
  flex-flow: column;
  height:300px;
  opacity:1;
}

li:hover {
  background-color: white;
}

/*Articles*/

#content {
margin: 0px 25px 0px 25px;
}

section.active {
  display:flex;
  flex-flow: wrap;
  justify-content:space-around;
}

article {
  margin: 2% 0;
  flex: 0 0 auto;
  justify-content: flex-start;
  width: 45%;
  padding:0px;
  background-color:#f1f1f1;
}

a {
  font-family: helvetica;
  text-decoration: none;
  color:#333;
  font-size: 18px;
}

/*in article*/

article > img {
  float:left;
  margin-right:20px;
}

#samenvatting {
  display:flex;
  flex-flow:column;
  padding-right:10px;
}

#samenvatting > a {
  font-family: helvetica;
  text-decoration: none;
  color:#333;
  font-size: 18px;
}

/* about */

section > header {
  background-color: white;
  padding:10px 20px;
  margin: 2% 0;
}

/* mediaquerie for tablet*/

@media screen and (max-width: 900px) {

  section.active {
    display:flex;
    flex-direction:column;
  }

  article {
    margin: 2% 0;
    flex: 0 0 auto;
    justify-content: flex-start;
    width: 100%;
    padding:0px;
    background-color:#f1f1f1;
  }

}

/* mediaquerie for mobile*/

@media screen and (max-width: 400px) {

  section.active {
    display:flex;
    flex-direction:column;
  }

  article {
    margin: 2% 0;
    flex: 0 0 auto;
    justify-content: flex-start;
    width: 90%;
    padding:20px;
    background-color:#f1f1f1;
  }

  img {
    display:none;
  }

}